<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title>商品 - 兴易坊</title>
    <!-- Custom fonts for this template-->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
    <!-- Page level plugin CSS-->
    <link rel="stylesheet" th:href="@{/plugin/messenger/css/messenger.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/messenger/css/messenger-theme-future.css}"/>
    <link th:href="@{/plugin/jquery-file_upload/css/jquery.fileupload.min.css}" rel="stylesheet"/>
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet" th:href="@{/plugin/sb-admin/css/sb-admin.min.css}"/>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:include="nav::backstage">
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" th:href="@{/web/backstage}">后台</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#" th:href="@{/web/goods/datum/list}">商品管理</a>
            </li>
            <li class="breadcrumb-item active">添加</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-group">
                        <label for="classifyId">商品类别</label>
                        <select class="form-control" id="classifyId">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="goodsName">商品名</label>
                        <input type="text" class="form-control" id="goodsName" placeholder="商品名">
                    </div>
                    <div class="form-group">
                        <label for="goodsPrice">价格</label>
                        <input type="number" class="form-control" id="goodsPrice" placeholder="价格">
                    </div>
                    <div class="form-group">
                        <label for="goodsRecommend">推荐度</label>
                        <input type="number" max="5" class="form-control" id="goodsRecommend" placeholder="推荐度">
                    </div>
                    <div class="form-group">
                        <label for="goodsSerial">序号</label>
                        <input type="number" class="form-control" id="goodsSerial" placeholder="序号">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" style="margin-left: 0" id="goodsIsDel">
                        <label class="form-check-label" for="goodsIsDel">状态</label>
                    </div>
                    <div class="form-group">
                        <label for="goodsPic">图片</label>
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img data-src="holder.js/100%x200" id="goodsPicTemp" alt="100%x200"
                                         src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzE5IiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDMxOSAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTYyYmUyMDgyYWQgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxNnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNjJiZTIwODJhZCI+PHJlY3Qgd2lkdGg9IjMxOSIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMTcuOTg0Mzc1IiB5PSIxMDcuMiI+MzE5eDIwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                                         data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                    <div class="caption text-center">
                                    <span class="btn btn-primary fileinput-button">
                                        <span>上传</span>
                                        <!-- The file input field used as target for the file upload widget -->
                                        <input id="fileupload" type="file" name="file"/>
                                    </span>
                                        <button type="button" id="clearImg" class="btn btn-default" role="button">清除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="goodsPic" name="goodsPic" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="goodsBrief">简介</label>
                        <textarea class="form-control" id="goodsBrief" rows="3"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-default">返回</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer" th:include="footer::backstageFooter">
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
</div>

<!--类别模板-->
<script id="classify-template" type="text/x-handlebars-template">
    {{#each listResult}}
    <option value="{{classifyId}}">{{classifyName}}</option>
    {{/each}}
</script>
<!-- Bootstrap core JavaScript-->
<script th:inline="javascript">
    var web_path = /*[[${webPath}]]*/ '';
    var file_max_size = /*[[${fileMaxSize}]]*/ '';
</script>
<script src="vendor/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js" th:src="@{/plugin/jquery-easing/jquery.easing.min.js}"></script>
<!-- Page level plugin JavaScript-->
<script th:src="@{/plugin/jquery-file_upload/js/vendor/jquery.ui.widget.min.js}"></script>
<script th:src="@{/plugin/jquery-file_upload/js/jquery.iframe-transport.min.js}"></script>
<script th:src="@{/plugin/jquery-file_upload/js/jquery.fileupload.min.js}"></script>
<script th:src="@{/plugin/jquery-file_upload/js/jquery.fileupload-process.min.js}"></script>
<script th:src="@{/plugin/jquery-file_upload/js/jquery.fileupload-validate.min.js}"></script>
<!-- Custom scripts for all pages-->
<script src="js/sb-admin.min.js" th:src="@{/plugin/sb-admin/js/sb-admin.min.js}"></script>
<script th:src="@{/plugin/messenger/js/messenger.min.js}"></script>
<script th:src="@{/plugin/messenger/js/messenger-theme-future.js}"></script>
<script th:src="@{/js/imessenger.js}"></script>
<script th:src="@{/webjars/lodash/dist/lodash.js}"></script>
<script th:src="@{/js/csrf.js}"></script>
<script th:src="@{/webjars/handlebars/handlebars.min.js}"></script>
<script th:src="@{/js/backstage/goods/datum/datum_add.js}"></script>
</body>
</html>