<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>Footer</title>
</head>
<body>
<!-- Footer -->
<footer class="py-5 bg-dark" th:fragment="receptionFooter">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; <span th:text="#{web.footer.info}"></span> <span
                th:text="${#calendars.format(#dates.createToday(), 'yyyy')}"></span></p>
    </div>
    <!-- /.container -->
</footer>
<!-- Footer -->
<footer class="py-5 bg-dark" th:fragment="backstageFooter">
    <div class="container">
        <div class="text-center">
            <small>Copyright &copy; <span th:text="#{web.footer.info}"></span> <span
                    th:text="${#calendars.format(#dates.createToday(), 'yyyy')}"></span></small>
        </div>
    </div>
    <!-- /.container -->
</footer>
</body>
</html>