<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:fragment="header(metas,title,links)">
    <!-- Common metas -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- 360 browser default use webkit -->
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content="" th:content="#{web.meta.keywords}"/>
    <meta name="description" content="" th:content="#{web.meta.description}"/>
    <meta name="author" content="" th:content="#{web.meta.author}"/>
    <!--/* Per-page placeholder for additional metas */-->
    <th:block th:replace="${metas}"/>
    <title th:replace="${title}">XYF</title>
    <!-- favicon -->
    <link rel="icon" href="icon/favicon.ico" th:href="@{/icon/favicon.ico}"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}"/>
</head>
<head th:fragment="no-metas-header(title,links)">
    <!-- Common metas -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- 360 browser default use webkit -->
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content="" th:content="#{web.meta.keywords}"/>
    <meta name="description" content="" th:content="#{web.meta.description}"/>
    <meta name="author" content="" th:content="#{web.meta.author}"/>
    <title th:replace="${title}">XYF</title>
    <!-- favicon -->
    <link rel="icon" href="icon/favicon.ico" th:href="@{/icon/favicon.ico}"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}"/>
</head>
<body></body>
</html>