<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: no-metas-header(~{::title},~{::link})">
    <title>兴易坊</title>
    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet" th:href="@{/css/reception/shop-homepage.css}"/>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="nav::reception">
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel"
                 th:unless="${#lists.isEmpty(banners)}">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" th:data-slide-to="${row.count-1}"
                        th:each="banner,row:${banners}" th:class="${row.count == 1?'active':''}"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div th:each="banner,row:${banners}" th:class="${row.count == 1?'carousel-item active':'carousel-item'}">
                        <img class="d-block img-fluid" th:src="@{${banner.bannerUrl}}" alt="banner">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="item.html"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="item.html">Item One</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                                aspernatur!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="item.html"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="item.html">Item Two</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                                aspernatur! Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="item.html"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="item.html">Item Three</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                                aspernatur!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="item.html"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="item.html">Item Four</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                                aspernatur!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="item.html"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="item.html">Item Five</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                                aspernatur! Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="item.html"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="item.html">Item Six</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                                aspernatur!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

            <nav aria-label="Page navigation example" id="pagination">
            </nav>
            <!-- /.pagination -->

        </div>
        <!-- /.col-lg-9 -->

        <div class="col-lg-3">

            <h1 class="my-4">店 铺</h1>
            <div class="list-group" th:unless="${#lists.isEmpty(classifies)}">
                <a th:each="classify : ${classifies}" href="javascript:" class="list-group-item" th:text="${classify.classifyName}"></a>
            </div>

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">搜索</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="商品...">
                        <span class="input-group-append">
                  <button class="btn btn-secondary" type="button">搜索</button>
                </span>
                    </div>
                </div>
            </div>

            <!-- Contact Widget -->
            <h2 class="mt-4">联系方式</h2>
            <address>
                <strong>联系人</strong>
                <br><span th:text="${WEBSITE_ADDRESS}"></span>
                <br>
            </address>
            <address>
                <abbr title="Phone">电话:</abbr>
                <span th:text="${WEBSITE_PHONE}"></span>
                <br>
                <abbr title="Email">邮箱:</abbr>
                <a href="mailto:#" th:text="${WEBSITE_EMAIL}" th:href="'mailto:' + ${WEBSITE_EMAIL}"></a>
            </address>

        </div>
        <!-- /.col-lg-3 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark" th:include="footer::receptionFooter"></footer>

<!-- Bootstrap core JavaScript -->
<script src="js/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="js/popper.min.js" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugin/jquery-simple_pagination/jquery.simplePagination.js}"></script>
<script th:src="@{/js/reception/index.js}"></script>
</body>
</html>