<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: no-metas-header(~{::title},~{::link})">
    <title>兴易坊</title>
    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet" th:href="@{/css/reception/shop-homepage.css}"/>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="nav::reception">
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel"
                 th:unless="${#lists.isEmpty(banners)}">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" th:data-slide-to="${row.count-1}"
                        th:each="banner,row:${banners}" th:class="${row.count == 1?'active':''}"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div th:each="banner,row:${banners}"
                         th:class="${row.count == 1?'carousel-item active':'carousel-item'}">
                        <img class="d-block img-fluid" th:src="@{${banner.bannerUrl}}" alt="banner">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row" id="goods">
            </div>
            <!-- /.row -->

            <nav aria-label="Page navigation example" id="pagination">
            </nav>
            <!-- /.pagination -->

        </div>
        <!-- /.col-lg-9 -->

        <div class="col-lg-3">

            <h1 class="my-4">店 铺</h1>
            <div class="list-group" id="classifies" th:unless="${#lists.isEmpty(classifies)}">
                <a th:each="classify : ${classifies}" href="javascript:" th:data-id="${classify.classifyId}" class="list-group-item classify"
                   th:text="${classify.classifyName}"></a>
            </div>

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">搜索</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="商品...">
                        <span class="input-group-append">
                  <button class="btn btn-secondary" type="button">搜索</button>
                </span>
                    </div>
                </div>
            </div>

            <!-- Contact Widget -->
            <h2 class="mt-4">联系方式</h2>
            <address>
                <strong th:text="${WEBSITE_CONTACTS}"></strong>
                <br><span th:text="${WEBSITE_ADDRESS}"></span>
                <br>
            </address>
            <address>
                <abbr title="Phone">电话:</abbr>
                <span th:text="${WEBSITE_PHONE}"></span>
                <br>
                <abbr title="Email">邮箱:</abbr>
                <a href="mailto:#" th:text="${WEBSITE_EMAIL}" th:href="'mailto:' + ${WEBSITE_EMAIL}"></a>
            </address>

        </div>
        <!-- /.col-lg-3 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark" th:include="footer::receptionFooter"></footer>

<!-- item modal -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabelTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mt-4">
                    <img class="card-img-top img-fluid" id="itemPic" alt="商品">
                    <div class="card-body">
                        <h3 class="card-title" id="itemTitle"></h3>
                        <h4 id="itemPrice"></h4>
                        <p class="card-text" id="itemBrief"></p>
                        <span class="text-warning" id="itemRecommend"></span>
                        <span id="stars"></span>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--定义商品模板-->
<script id="goods-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="javascript:" class="goods-item"><img class="card-img-top" data-id="{{this.goodsId}}" src="{{goodsPic}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="javascript:" data-id="{{this.goodsId}}" class="goods-item">{{this.goodsName}}</a>
                </h4>
                <h5>￥{{this.goodsPrice}}</h5>
                <p class="card-text">{{goodsBrief}}</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <small class="text-muted">
                            {{goodsRecommend}}
                        </small>
                    </div>
                    <div class="col-6 text-right">
                        类别：{{this.classifyName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>
<!-- Bootstrap core JavaScript -->
<script th:inline="javascript">
    var web_path = /*[[${webPath}]]*/ '';
</script>
<script src="js/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="js/popper.min.js" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/nav.js}"></script>
<script th:src="@{/plugin/jquery-simple_pagination/jquery.simplePagination.js}"></script>
<script th:src="@{/webjars/handlebars/handlebars.min.js}"></script>
<script th:src="@{/js/reception/index.js}"></script>
</body>
</html>