<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title>后台登录 - 兴易坊</title>
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet" th:href="@{/plugin/sb-admin/css/sb-admin.min.css}" />
<body class="bg-dark">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">登 录</div>
        <div class="card-body">
            <form id="login_form">
                <div class="form-group">
                    <label for="username">账号</label>
                    <input class="form-control" id="username" name="username" placeholder="账号">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input class="form-control" id="password" type="password" name="password" placeholder="密码">
                </div>
                <button class="btn btn-primary btn-block" id="login" type="button">登 录</button>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script th:inline="javascript">
    var web_path = /*[[${webPath}]]*/ '';
</script>
<script src="vendor/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/csrf.js}"></script>
<script th:src="@{/js/login/login.js}"></script>
</body>
</html>