body {
        padding-top: 54px;
}
@media (min-width: 992px) {
body {
    padding-top: 56px;
 }
}

footer{
    position: inherit;
    z-index: 9;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}